.pvtUi button {
	--lumo-button-size: var(--lumo-size-m);
    min-width: calc(var(--lumo-button-size) * 2);
    height: var(--lumo-button-size);
    padding: 0 calc(var(--lumo-button-size) / 3 + var(--lumo-border-radius-m) / 2);
    margin: var(--lumo-space-xs) 0;
    box-sizing: border-box;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--_lumo-button-color, var(--lumo-primary-text-color));
    background-color: var(--_lumo-button-background-color, var(--lumo-contrast-5pct));
    border-radius: var(--lumo-border-radius-m);
    cursor: var(--lumo-clickable-cursor);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    border: none;
    margin: 3px;
}
 	
.pvtAxisContainer li.ui-sortable-handle > span.pvtAttr {
	--lumo-button-size: var(--lumo-size-m);
    min-width: calc(var(--lumo-button-size) * 2);
    height: var(--lumo-button-size);
    padding: var(--lumo-space-xs) var(--lumo-space-s);
    margin: var(--lumo-space-xs) 0;
    box-sizing: border-box;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--_lumo-button-color, var(--lumo-primary-text-color));
    background: var(--_lumo-button-background-color, var(--lumo-contrast-5pct));
    border-radius: var(--lumo-border-radius-m);
    cursor: var(--lumo-clickable-cursor);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.pvtUi .pvtAxisContainer {
	background: var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-m);
    border: 1px solid var(--lumo-contrast-30pct);
}

.pvtUi .pvtVals {
	background: var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-m);
    border: 1px solid var(--lumo-contrast-30pct);
    text-align: left;
}

.pvtTable {
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-body-text-color);
}

.pvtUi {
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-body-text-color);
}

.pvtUi table.pvtTable thead tr th {
	background-color: var(--lumo-contrast-10pct);
    border: 1px solid var(--lumo-contrast-40pct);
    font-size: var(--lumo-font-size-s);	
    padding: var(--lumo-space-xs);
}

.pvtUi table.pvtTable tbody tr th {
	background-color: var(--lumo-contrast-10pct);
    border: 1px solid var(--lumo-contrast-40pct);
    font-size: var(--lumo-font-size-s);
    padding: var(--lumo-space-xs);
}

.pvtUi table.pvtTable tbody tr td {
    color: var(--lumo-primary-color-50pct);
    padding: var(--lumo-space-xs);
    font-size: var(--lumo-font-size-m);
    background-color: var(--lumo-base-color);
    border: 1px solid var(--lumo-contrast-40pct);
}

.pvtUi select {
    border-radius: var(--lumo-border-radius-m);
    background-color: var(--lumo-contrast-10pct);
    padding: 0 calc(0.375em + var(--lumo-border-radius-m) / 4 - 1px);
    font-weight: 500;
    line-height: 1;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    min-height: var(--lumo-text-field-size, var(--lumo-size-m));
    border: none;
    width: var(--vaadin-field-default-width, 12em);
}

.pvtSearch {
    border-radius: var(--lumo-border-radius-m);
    background-color: var(--lumo-contrast-10pct);
    padding: 0 calc(0.375em + var(--lumo-border-radius-m) / 4 - 1px);
    font-weight: 500;
    line-height: 1;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    min-height: var(--lumo-text-field-size, var(--lumo-size-m));
    border: none;
    width: var(--vaadin-field-default-width, 12em);
}

.pvtFilterBox h4 {
	cursor: move;
}

span.pvtTriangle {
	position: relative;
    color: var(--lumo-contrast-5pct);
}

span.pvtTriangle::before {
    content: var(--lumo-icons-dropdown);
    font-family: 'lumo-icons';
    font-size: var(--lumo-icon-size-m);
    position: absolute;
    line-height: 1;
    color: var(--lumo-contrast-60pct);
    margin-top: 2px;
}

.pvtUi select:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.pvtSearch:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.pvtUi option {
	background: var(--lumo-base-color);
}

a[role="button"].pvtRowOrder {
	color: var(--lumo-primary-color);
}

a[role="button"].pvtColOrder {
	color: var(--lumo-primary-color);
}

input.pvtFilter {
	appearance: none;
	width: calc(var(--lumo-size-m) / 2);
    height: calc(var(--lumo-size-m) / 2);
    margin: var(--lumo-space-xs);
    position: relative;
    border-radius: var(--lumo-border-radius-s);
    background-color: var(--lumo-contrast-20pct);
    transition: transform 0.2s cubic-bezier(0.12, 0.32, 0.54, 2), background-color 0.15s;
    line-height: 1.2;
    cursor: var(--lumo-clickable-cursor);
    flex: none;
}

input.pvtFilter:checked {
    background-color: var(--lumo-primary-color);	
}

input.pvtFilter::before {
    content: '';
}

input.pvtFilter:checked::before {
	pointer-events: none;
    content: var(--lumo-icons-checkmark);
    font-family: 'lumo-icons';
    color: var(--lumo-primary-contrast-color);
    line-height: 1;
    contain: content;
    font-size: calc(var( --lumo-font-size-m) + 2px);
}

.pvtFilter:focus-visible {
	border: 1px solid var(--lumo-base-color);
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;	
}

span.value {
	font-size: var(--lumo-font-size-m);
    color: var(--lumo-body-text-color);
}

span.count {
	font-size: var(--lumo-font-size-m);
}

.pvtFilterBox[popup] {
    background: var(--lumo-base-color);
    border: 1px solid var(--lumo-contrast-30pct);
    border-radius: var(--lumo-border-radius-m);
    box-shadow: var(--lumo-box-shadow-s);
}

.pvtCheckContainer label {
	display: flex;
	align-items: center;
}

.pvtUi .pvtRendererArea {
    border: 1px solid var(--lumo-contrast-30pct);
    border-radius: var(--lumo-border-radius-m);
    padding: 0;
    color: var(--lumo-body-text-color);
}

.pvtRendererArea > textarea {
	background: var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-m);
    color: var(--lumo-body-text-color);
}

.pvtRendererArea > textarea:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.pvtFilterBox[popup] .count {
    color: var(--lumo-secondary-text-color);
    margin-left: var(--lumo-space-xs);
}

span.pvtAttr:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.pvtUi button:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.pvtFilterBox:focus-visible {
    outline: unset;
}

.pvtUi .c3-axis {
    fill: var(--lumo-body-text-color);
    font-size: calc(var(--lumo-font-size-s) * 0.8);
}

.pvtUi .c3-axis .tick > line {
    stroke: var(--lumo-contrast-30pct);
}

.pvtUi .c3-axis > .domain {
    stroke: var(--lumo-contrast-30pct);
}

.pvtUi .c3-legend-item {
    fill: var(--lumo-body-text-color);
    font-size: calc(var(--lumo-font-size-s) * 0.8);	
}

.pvtUi .c3-legend-item-hidden {
    opacity: .40;
}

.pvtUi table.c3-tooltip {
    background-color: var(--lumo-contrast-5pct);
    color: var(--lumo-body-text-color);
    box-shadow: var(--lumo-box-shadow-s);
}

.pvtUi table.c3-tooltip td {
    font-size: var(--lumo-font-size-xs);
    padding: var(--lumo-space-xs);
    background-color: var(--lumo-contrast-5pct);
    border-left: 1px dotted var(--lumo-contrast-30pct);
}

.pvtUi table.c3-tooltip tr {
    border: 1px solid var(--lumo-contrast-30pct);
}

.pvtUi table.c3-tooltip th {
    background-color: var(--lumo-contrast-10pct);
    font-size: var(--lumo-font-size-s);
    padding: var(--lumo-spase-xs);
    color: var(--lumo-body-text-color);
}
